{% extends "base/base.html" %} {% block main_content %}

<h1>WARRANTY LIST</h1>

<ul>
  {% for warranty in object_list %}
  <li>{{warranty.name}}</li>
  <li>{% empty%}</li>

  <li>No warranties yet.</li>
  {% endfor %}
</ul>

<div class="button-container">
  {% comment %}
  <div class="control-buttons">
    <button class="reset-button-style button btn-download" id="export-file">
      Download CSV
    </button>
  </div>
  {% endcomment %}
  <div class="action-buttons">
    <a
      href="{% url 'warranty-create' %}"
      class="button btn-create"
      type="button"
      >Create warranty</a
    >
  </div>
</div>

{% endblock %}
