.reset-button-style {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
}

.button-container {
  width: 100%;
  padding: 0 10px; /* Keep your padding */
  box-sizing: border-box; /* This ensures padding is included in the width */
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--gray1-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.control-buttons {
  display: flex;
  gap: 5px;
}

.action-buttons {
  display: flex;
  gap: 5px;
}

.button {
  background: var(--gray1-color);
  text-decoration: none;
  padding: 0 12px;
  margin: 6px 0;
  font-size: 1em;
}

.btn-create {
  background: var(--green-color);
  border: 2px solid var(--green-color);
  transition: border-color 0.3s;
  color: var(--gray1-color);
  font-weight: bold;
}

.btn-register {
  background: var(--blue-color);
  border: 2px solid var(--blue-color);
  transition: border-color 0.3s;
  color: var(--gray1-color);
  font-weight: bold;
}

.btn-cancel {
  border: 2px solid transparent;
  transition: border-color 0.3s;
  background: var(--gray1-color);
  color: var(--gray2-color);
  font-weight: bold;
}

.btn-create:hover,
.btn-register:hover,
.btn-cancel:hover {
  border: 2px solid var(--yellow-color);
}

.btn-download {
  border: 2px solid transparent;
  transition: border-color 0.3s;
  background: darkgrey;
  color: var(--background-color);
  font-weight: bold;
}

.btn-download:hover {
  border: 2px solid var(--download-border);
}

.btn-delete {
  border: 2px solid transparent;
  transition: border-color 0.3s;
  background: darkgrey;
  color: var(--background-color);
  font-weight: bold;
}

.btn-delete:hover {
  border: 2px solid var(--delete-border-hover);
}

.btn-edit {
  border: 2px solid transparent;
  transition: border-color 0.3s;
  background: darkgrey;
  color: var(--background-color);
  font-weight: bold;
}

.btn-edit:hover {
  border: 2px solid var(--edit-border-hover);
}

@media (max-height: 1080px) {
  .button {
    font-size: 0.9em;
  }
}
