:root {
  /* Nord colors */
  --black-color: #2a303c;
  --white-color: #d8dee9;
  --gray1-color: #3b4252;
  --gray2-color: #606672;
  --gray3-color: #6d8dad;
  --blue-color: #81a1c1;
  --green-color: #89b482;
  --red-color: #d57780;
  --orange-color: #caaa6a;
  --yellow-color: #ebcb8b;
  --pink-color: #e39a83;

  --background-color: #373737;
  --primary-color: #acbabf;
  --secondary-color: #6c757d;
  --text-color: #c0c0c2;
  --text-error: #ff0000;

  /* Old button colors */

  --download-border: #f8f9fa;
  --download-border-hover: #d3d4d5;

  --delete-border: #dc3545;
  --delete-border-hover: #bb2d3b;

  --edit-border: #0d6efd;
  --edit-border-hover: #0a58ca;
}