header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background: var(--gray1-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  height: 40px;
}

.delimiter {
  color: var(--white-color);
}

.link-item,
.link-item-link {
  font-weight: 500;
  color: var(--white-color);
  text-decoration: none;
}

.logo {
  height: 40px;
  width: 40px;
  background: transparent;
  /* color: var(--white-color); */
}

.nav-links-menu,
.nav-links-user {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links-menu li {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
}

.nav-links-user li {
  display: inline-block;
  padding: 0 2px;
  font-size: 12px;
}

.nav-links-menu li a,
.nav-links-user li a {
  transition: all 0.3s ease 0s;
}

.nav-links-user li a {
  border-bottom: 1px solid var(--orange-color);
}

.nav-links-menu li:hover {
  border-bottom: 2px solid var(--orange-color);
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

.nav-links-user li a:hover {
  border-bottom: 1px solid var(--gray1-color);
}
