@import "colors.css";
@import "home.css";
@import "nav.css";
@import "profile.css";
@import "stats.css";
@import "buttons.css";
@import "business.css";
@import "table.css";
@import "forms.css";
@import "footer.css";
@import "dashboard.css";
@import "upload.css";
@import "suppliers.css";
@import "system-messages.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--gray2-color);
  font-family: "Montserrat", sans-serif;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
